<header class="container">
  <nav class="global-nav">
    <div class="global-nav-links">
      <a href="" class="global-nav-item">Rooms</a
      ><a href="" class="global-nav-item">Ideas</a
      ><a href="" class="global-nav-item">Stores</a
      ><a href="" class="global-nav-item">Contact</a>
    </div>
  </nav>
  <nav class="global-nav">
    <div class="global-nav-links local">
      <a href="" class="global-nav-item">AirMugPro</a
      ><a href="" class="global-nav-item">개요</a
      ><a href="" class="global-nav-item">제품사양</a
      ><a href="" class="global-nav-item">구입하기</a>
    </div>
  </nav>
</header>
