@charset 'utf-8';

html {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
}
body {
  overflow-x: hidden;
  color: rgb(29, 29, 31);
  letter-spacing: -0.05em;
  background: white;
}
p {
  line-height: 1.6;
}
a {
  color: rgb(29, 29, 31);
  text-decoration: none;
}

.scroll-section {
  padding-top: 50vh;
  border: 3px solid red;
  padding-top: 50vh;
}

#scroll-section-0 h1 {
  position: relative;
  z-index: 5;
  top: -10vh;
  font-size: 4rem;
  text-align: center;
}

.main-message {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 35vh;
  margin: 5px 0;
  height: 3em;
  font-size: 0.8rem;
  opacity: 0;
}

.main-message p {
  line-height: 1.2;
  font-weight: bold;
  text-align: center;
  width: 200px;
}

.description {
  max-width: 1000px;
  padding: 0 16px;
  font-size: 0.6rem;
  color: #888;
}

.description strong {
  float: left;
  margin-right: 0.2rem;
  font-size: 0.8rem;
  color: rgb(29, 29, 31);
}

.main-message small {
  display: block;
  margin-bottom: 0.5em;
  font-size: 1rem;
}

#scroll-section-2 .main-message {
  font-size: 1.5rem;
}

.desc-message {
  font-weight: bold;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.pin {
  width: 1px;
  height: 100px;
  background: rgb(29, 29, 31);
}
.mid-message {
  max-width: 1000px;
  margin: 0 auto;
  font-size: 1.2rem;
  color: #888;
  padding: 0 16px;
}

.mid-message strong {
  color: rgb(29, 29, 31);
}

.canvas-caption {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 16px;
  color: #888;
  font-size: 0.6rem;
}
.sticky-elem {
  display: none;
  position: fixed;

  left: 0;
  width: 100%;
}
#show-scene-section-0 #scroll-section-0 .sticky-elem,
#show-scene-section-1 #scroll-section-1 .sticky-elem,
#show-scene-section-2 #scroll-section-2 .sticky-elem,
#show-scene-section-3 #scroll-section-3 .sticky-elem {
  //background-color: darkblue;//padding때문에 섹션침범함 주석처리하고 확인해 볼것

  display: flex;
}

#scroll-section-2 .b {
  top: 10%;
  left: 40%;
}
#scroll-section-2 .c {
  top: 15%;
  left: 45%;
}

.sticky-elem-canvas {
  top: 0;
  height: 100%;
}

.sticky-elem-canvas canvas {
  position: absolute;
  top: 50%;
  left: 50%;
}

@media (min-width: 1024px) {
  #scroll-section-01 {
  }
  .main-message {
    font-size: 4vw;
  }
  .description {
    margin: 0 auto;
    font-size: 2rem;
  }
  .description strong {
    font-size: 6rem;
  }

  #scroll-section-2 .main-message {
    font-size: 6vw;
  }

  .desc-message {
    width: 20%;
  }

  .main-message p {
    width: 59%;
  }

  .mid-message {
    font-size: 4vw;
  }

  .canvas-caption {
    font-size: 2rem;
  }
  #scroll-section-2 .b {
    top: 20%;
    left: 53%;
  }
  #scroll-section-2 .c {
    left: 55%;
  }
}
