<div class="content-body">
  <section class="scroll-section" id="scroll-section-0">
    <h1>Happy-Sonday</h1>
    <div class="sticky-elem main-message a">
      <p>
        온전히 빠져들게 하는 인터렉티브 포트폴리오 사이트에 오신걸 환영합니다.
      </p>
    </div>
    <!--  <div class="sticky-elem main-message b">
      <p>
        사용자에게 안전하고 새로운 경험을 제공하기 위해 고민하는 프론트 엔드
        개발자
      </p>
    </div>
    <div class="sticky-elem main-message c">
      <p>애플 테마를 SCSS로 작성하고 스크롤 이벤트 적용</p>
    </div>

    <div class="sticky-elem main-message d">
      <p>엄격한 타입을 이용한 정규화된 프레임 워크 앵귤라를 사용</p>
    </div> -->
  </section>
  <section class="scroll-section" id="scroll-section-1">
    <p class="description">
      <strong>보통 요약 영역</strong>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus ipsam
      laboriosam iste, error porro quasi excepturi repellendus nulla ipsa esse
      nam, ducimus quis minima minus necessitatibus dolores perferendis! Aut
      beatae vel dolore aperiam doloribus minus libero, quasi voluptas ipsam
      fugiat corporis eveniet! Placeat, iusto provident? Nobis in ratione et
      animi nemo exercitationem consequuntur? Quas, officiis iste nulla
      laboriosam, sequi quisquam odio rem quis at repudiandae error ea odit
      dolor ab dicta tempore nostrum maiores similique? Asperiores deleniti
      neque tenetur temporibus aspernatur, placeat iusto recusandae ullam quas
      repellat natus, veritatis unde blanditiis deserunt amet dolorum molestiae
      fuga? Placeat hic non vero eos culpa. Maxime aspernatur veritatis
      voluptates vitae amet quaerat non consectetur possimus, iste sunt tempore,
      illum aperiam unde deserunt rerum exercitationem sed consequatur
      temporibus dolorum reiciendis dignissimos qui. Vitae odio, quos unde iste
      maxime facere explicabo consequatur impedit reiciendis earum! Soluta,
      similique ratione qui repellat recusandae corrupti voluptate dolores unde
      quibusdam, nemo dolorum animi laudantium dolorem perferendis nulla impedit
      distinctio est. Illo natus repellat molestias et saepe, quibusdam labore
      eligendi? Laboriosam fugit eos, facilis perspiciatis illo ipsum maiores
      velit sed deleniti distinctio. Nostrum nobis explicabo dolorem facilis
      dolore similique ab a, fugit obcaecati ipsa sapiente ex quibusdam possimus
      alias? Incidunt?
    </p>
  </section>
  <section class="scroll-section" id="scroll-section-2">
    <div class="sticky-elem main-message">
      <p>
        <small>편안한 촉감</small>
        입과 하나 되다
      </p>
    </div>
    <div class="sticky-elem desc-message">
      <p>
        편안한 목넘김을 완성하는 디테일한 여러 구성 요소들, 우리는 이를 하나하나
        살피고 재구성하는 과정을 거친다.
      </p>
      <div class="pin"></div>
    </div>
    <div class="sticky-elem desc-message">
      <p>design by happ-sonday <br />made in korea</p>
      <div class="pin"></div>
    </div>
  </section>
  <section class="scroll-section" id="scroll-section-3">
    <p class="mid-message">
      <strong>happy-sonday</strong>
      어쩌다 프론트엔드 개발자
    </p>

    <p class="canvas-caption">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt ipsa
      asperiores fugiat, ipsam corporis explicabo, itaque iure praesentium neque
      aspernatur quae atque eius rerum, a voluptatum! Sint recusandae autem
      amet.
    </p>
  </section>
</div>
