.scroll-section {
  position: relative;
  padding-top: 50vh;
}

#scroll-section-0 h1 {
  position: relative;
  z-index: 5;
  font-size: 2.5rem;
  text-align: center;
  top: -10vh;
}
.main-message {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 0;
  height: 5em;
  font-size: 1.5rem;
  padding: 0 1rem;
  opacity: 0;
  top: 35vh;
}
#scroll-section-2 .b {
  top: 10%;
  left: 40%;
}
#scroll-section-2 .c {
  top: 15%;
  left: 45%;
}
.main-message p {
  line-height: 1.2;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.description {
  padding: 0 1rem;
  font-size: 1.2rem;
  color: #888;
}

.description strong {
  float: left;
  margin-right: 0.2em;
  font-size: 2rem;
  color: rgb(29, 29, 31);
}

.main-message small {
  display: block;
  margin-bottom: 0.5em;
  font-size: 1rem;
}

.desc-message {
  width: 50%;
  font-weight: bold;
  opacity: 0;
}

.pin {
  width: 1px;
  height: 100px;
  background: rgb(29, 29, 31);
}

.mid-message {
  max-width: 1200px;
  margin: 0 auto;
  font-size: 1.5rem;
  padding: 0 1rem;
  color: #888;
}

#scroll-section-3 {
  line-height: 1.5;
}
.mid-message strong {
  display: block;
  color: black;
}
.canvas-caption {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  color: #888;
  font-size: 1.2rem;
}

.sticky-elem {
  display: none;
  position: fixed;

  left: 0;
  width: 100%;
}

#show-scene-0 #scroll-section-0 .sticky-elem,
#show-scene-1 #scroll-section-1 .sticky-elem,
#show-scene-2 #scroll-section-2 .sticky-elem,
#show-scene-3 #scroll-section-3 .sticky-elem {
  display: block;
}

.sticky-elem-canvas {
  top: 0;
  height: 100%;
}
.sticky-elem-canvas canvas {
  position: absolute;
  top: 50%;
  left: 50%;
}

.image-blend-canvas {
  background: rosybrown;
}
//스케일에 따른 캔버스 위치 조정
#scroll-section-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1200px) {
  #scroll-section-0 h1 {
    font-size: 9vw;
  }

  #scroll-section-2 .b {
    top: 20%;
    left: 53%;
  }
  #scroll-section-2 .c {
    left: 55%;
  }
  .main-message {
    font-size: 4vw;
  }

  .description {
    max-width: 1200px;
    font-size: 2rem;
    margin: 0 auto;
  }

  .description strong {
    font-size: 6rem;
  }

  #scroll-section-2 .main-message {
    font-size: 6vw;
  }
  .main-message small {
    font-size: 1.5vw;
  }

  .desc-message {
    width: 20%;
  }
}
